@inherits LayoutComponentBase

<PageTitle>NearMe</PageTitle>

<div class="flex flex-col h-full" @onwheel="OnScroll">
    <NavBar @ref="navBar" />
    <main class="px-12 py-8 flex-1">
        @Body
    </main>
</div>

@code {
    private NavBar? navBar;

    private async Task OnScroll(WheelEventArgs e)
    {
        if (navBar is not null)
        {
            await navBar.OnScroll(e);
        }
    }
}