@inherits ComponentBase

<div class="fixed left-0 translate-x-1/2 top-12 max-h-3/4 min-w-1/2 max-w-3/4 overflow-y-auto transition bg-white rounded-lg opacity-0 @(show ? "z-[100] opacity-100 pointer-events-auto" : "-z-50 pointer-events-none")">
    <button class="absolute top-3 right-4 text-2xl" @onclick="Hide">
        <i class="fa-regular fa-circle-xmark"></i>
    </button>

    <div class="p-8">
        @ChildContent
    </div>
</div>
<div class="transition bg-black/25 fixed top-0 right-0 w-screen h-screen opacity-0 @(show ? "z-[90] opacity-100 pointer-events-auto" : "z-[0] pointer-events-none")" @onclick="Hide"></div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private bool show;

    public void Show()
    {
        show = true;
        StateHasChanged();
    }

    public void Hide()
    {
        show = false;
        StateHasChanged();
    }
}
