<div class="flex items-center fill-yellow-500 @(SmallSpacing ? "gap-x-1" : "gap-x-2") text-yellow-500" aria-label="@Stars stars">
    @for (int i = 1; i <= 5; i++)
    {
        if (i < Stars)
        {
            <span>
                <i class="fa-solid fa-star"></i>
            </span>
        }
        else if (i == Math.Ceiling(Stars))
        {
            if (Stars * 2 % 2 == 1)
            {
                <span>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </span>
            }
            else
            {
                <span>
                    <i class="fa-solid fa-star"></i>
                </span>
            }
        }
        else
        {
            <span>
                <i class="fa-regular fa-star"></i>
            </span>
        }
    }
</div>

@code {
    [Parameter]
    public double Stars { get; set; }
    [Parameter]
    public bool SmallSpacing { get; set; }

    protected override void OnParametersSet()
    {
        Stars = Math.Round(Stars * 2) / 2;
    }
}
