@page "/"

@layout NoPaddingLayout

<PageTitle>NearMe</PageTitle>

<div class="relative w-full h-[70vh]">
    <div class="absolute left-0 top-0 w-full z-[-1] brightness-50 bg-[center_top] bg-black/50 h-[70vh]">
        <img src="homepage-bg.png" class="w-full object-cover h-[70vh]" />
    </div>
    <div class="px-12 h-full flex flex-col">
        test
    </div>
</div>