@import url('https://fonts.googleapis.com/css2?family=Onest&family=Space+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@property --tw-scale-x {
    syntax: '<number>';
    initial-value: 1;
    inherits: false;
}

@property --tw-scale-y {
    syntax: '<number>';
    initial-value: 1;
    inherits: false;
}

html, body {
    @apply font-default h-full;
}

*:focus {
    @apply outline-none;
}

#blazor-error-ui {
    @apply bg-red-500 bottom-0 hidden left-0 px-3 py-5 fixed w-full z-50;
}

    #blazor-error-ui .dismiss {
        @apply cursor-pointer absolute right-3 top-2;
    }

.auth-bg::before {
    content: "";
    @apply bg-[url('/auth-bg.webp')] bg-cover bg-no-repeat h-full w-full fixed top-0 left-0 z-[-1] blur-sm;
}

.text-shadow {
    text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000;
}